body {
    color: #333333!important;
    min-height: 100vh;
}

header {
    a:hover {
        text-decoration: none!important;
    }

    a {
        color:#888888!important;
    }
}

// Extra small devices (portrait phones)
@media (max-width: 576px) {
    header {
        min-width: 100%!important;

        a {
            font-size: 0.9rem;
        }
    }

    p {
        font-size: 0.8rem;
    }
}

// // Small devices (landscape phones)
// @media (min-width: 577px) and (max-width: 768px) {

// }

// // Medium devices (tablets, less than 992px)
// @media (min-width: 769px) and (max-width: 992px) {

// }

// Large devices (desktops, less than 1200px)
// @media (min-width: 993px) and (max-width: 1200px) {
    
// }