{{>header}}

<div class="container w-75 flex-grow-1">
    <p class="w-25">This site what created by Casey Livingood. It uses data from mapbox.com and darksky.net!</p>
    <img class="img-fluid rounded-circle w-25" src="img/img-oh-river.jpg">
</div>

{{>footer}}