{{>header}}
    <div class="container w-75 flex-grow-1">
        <p class="lead">Use this site to get your weather!</p>

        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Enter Location">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>

        <div id="auto-dropdown" class="mx-sm-3 w-50 bg-primary rounded mb-2 py-3 hide" data-toggle="toggle">
            <a id="auto-1" class="dropdown-item text-white text-truncate autocomplete" href="#"></a>
            <a id="auto-2" class="dropdown-item text-white text-truncate autocomplete" href="#"></a>
            <a id="auto-3" class="dropdown-item text-white text-truncate autocomplete" href="#"></a>
            <a id="auto-4" class="dropdown-item text-white text-truncate autocomplete" href="#"></a>
            <a id="auto-5" class="dropdown-item text-white text-truncate autocomplete" href="#"></a>
        </div>
        <div id="message" class="container mx-sm-3 bg-success rounded w-50 p-3 hide">
            <p id="message-2" class="lead text-white font-weight-bold"></p>
            <p id="message-1" class="lead text-white"></p>  
        </div>
        
    </div>
<script src="/js/app.js"></script>
{{>footer}}