<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body class="d-flex flex-column">
    {{!-- HEADER & NAVIGATION --}}
    <header class="container w-75 mt-3 mb-5">
        <h1 class="display-4 font-weight-bold">{{title}}</h1>
        <div class="nav">
            <a class="nav-item nav-link" href="/">Weather</a>
            {{!-- <a class="nav-item nav-link" href="/about">About</a> --}}
            <a class="nav-item nav-link" href="/help">Help</a>
        </div>
    </header>
            
    
    {{!-- CONTENT --}}